body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    width: 100vw;
}

header {
    height: 7em;
    width: 100%;
    background: white;
    padding: 1em;
    top: 0;
    position: fixed;
    background: rgb(40, 40, 40);
}



/* Tekst */
h1 {
    font-size: 40px;
    color: white;
}

h2 {
    /* display: block; */
    font-size: 25x;
    height: 1em;
    margin-top: 0.3em;
    color: yellow;
}

h3 {
    font-size: 18px;
    color: white;
    /* margin-bottom: 0; */
}

h4 {
    font-size: 16px;
    font-weight: 800;
    color: yellow;
    margin-bottom: 0;
    margin-top: 0;
}

p { 
    font-size: 16px;
}

img + p:first-of-type {
    font-size: 12px;
    margin: 0;
    margin-top: 0.5em;
    color: white;
}

/* GENRE */
p:first-of-type + p {
    margin: 0;
    margin-top: 0.5em;
    color: white;
}

/* PLOT */
article > p:last-of-type {
    font-size: 16px;
    font-weight: lighter;
    height: 5em;
    color: white;
}



/* DETAILPAGINA */
/* PLOT */
main > p:last-of-type {
    font-weight: lighter;
    height: 10.5em;
    width: 90vw;
    color: white;
}

h4 + p {
    margin-top: 0.5em;
}

section + p:first-of-type {
    font-size: 12px;
    margin: 0;
    margin-top: 0.5em;
    color: white;
}



form {
    color: white;
}



section {
    margin-top: 9em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 3em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    background: rgb(40, 40, 40);
}

article {
    box-sizing: border-box;
    /* flex-direction: column; */
    width: 45vw;
    padding: 1em;
    margin: 1em;
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
    /* align-content: center; */
}

img {
    float: left;
    width: 20%;
    margin-right: 1em;
    /* margin-bottom: 2em; */
    /* height: 20%; */
}

button {
    color: white;
    width: 15em;
    margin-left: 11.5em;
    padding: 1em;
    border: 1px solid yellow;
    background: none;
    align-content: right;
    box-shadow: 1px 1px 4px yellow ;
}

button:hover {
    color: black;
    padding: 1em;
    border: 1px solid yellow;
    background: yellow;
    align-content: right;
}

main > p:last-of-type + button {
    margin-bottom: 0;
    margin-left: 0em;
    margin-bottom: 2em;
}

main {
    box-sizing: border-box;
    /* display: flex; */
}

main > img {
    width: 14em;
    /* margin-bottom: 1em; */
}

/* main + div {
    display: flex; 
    flex-direction: column;
}  */

main > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
}

div > h3 {
    margin-bottom: 0.5em;
    flex: 1 0 100%;
}

div > div {
    width: 15em;
    margin-right: 2em;
    margin-bottom: 1em;
}

/* REVIEW */
div + div + p[score] {
    color: black;
    padding: 1em;
    background: white;
}

/* div + div > p:first-of-type {
    color: white;
    padding: 0;
    background: none;
} */





